@charset "UTF-8";

/* グリッド表示 */
/* ハンバーガー */
.btn-trigger {
    width: 40px;
    height: 20px;
    position: fixed;
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 15px;
    z-index: 200;
}

.random-box {
    margin-right: 15px;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: black;
    transition: width 0.5s linear;
}

.btn-trigger span:first-of-type {
    top: 0;
    transition: 1s;
}

.btn-trigger span:nth-last-of-type(2) {
    top: 50%;
    transition: 1s;
}

.btn-trigger span:last-of-type {
    top: 100%;
    transition: 1s;
}

.btn-trigger.active span {
    background-color: #ffffff;
}

.btn-trigger.active span:first-of-type {
    transform:translateY(10px) rotate(45deg)
}

.btn-trigger.active span:nth-last-of-type(2) {
    opacity: 0;
    translate: 30px;
}

.btn-trigger.active span:last-of-type {
transform:translateY(-10px) rotate(-45deg)
}

/* 一覧表示 */
.menu {
    background-color: black;
    /* background-image: url("/img/menu_panel.png"); */
    opacity: 80%;
    height: 700px;
    display: flex;
    z-index: 100;
    translate: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    height: 100vh;
    transition: 1.2s;
    width: 25%;
    right: 0;
    top: 0;
    flex-direction: column;
    align-items: left ;
    padding-top: 70px;
}
.links li a{
    height: 100vh;
    z-index: 200;
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}
li{
    list-style: none;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 50px;
}

.menu.active {
    translate: 5vw;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease;
}

.overlay.active{
    opacity: 1;
    visibility: visible;
}

#header {
    display: flex;
    justify-content: space-between;
    text-align: right;
    background-color: #ffffff;
    height: 50px;
    top: 0;
    position: fixed;
}

a {
    text-decoration: none;
}

.site-title {
    text-align: left;
    margin: 13px 0;

}

.site-title img {
    width: 220px;
    padding-bottom: 10px;
    padding-left: 45px;
}

.content{
    padding-left: 45px;
}
.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    align-content: center;
    padding-top: 80px;
    font-size: small;
}

#top {
    margin-top: 40px;
}

.product-list img {
    width: 100%;
}

#footer .menu {
    display: flex;
    list-style: none;
}

#footer .menu p {
    margin-left: 20px;
}

/* グリッドここまで */
.product-list li {
    list-style: none;
    text-decoration: none;
}

/* wrapper で表示サイズの調整 */
.wrapper {
    width: 100%;
    max-width: 1360px;
    padding-right: 45px;
}

.content {
    padding-top: 80px;
}

/* ここまで */
.product-list a {
    color: black;
}

/* productsへのリンク */
.link-text {
    display: block;
    text-align: center;
    margin-top: 40px;
    color: black;
    font-size: small;
}


/* companyページ */
/* table */
#company .info {
    border-collapse: collapse;
    margin-bottom: 30px;

    /* width: 600px; */
    .info {
        width: 600px;
    }
}

#company .info td {
    /* text-align: left; */
    vertical-align: middle;

}

#company .info th {
    padding-right: 100px;
    font-weight: normal;

}

#company .info td,
#company .info th {
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: solid rgb(192, 192, 192) 1px;
    text-align: left;
}

/* 最終行の線を消す */
#company .info tr:last-child th,
#company .info tr:last-child td {
    border-style: none;
    vertical-align: top;
}

/* map */
.map {
    filter: grayscale();
}

.map iframe {
    height: 300px;
}

/* item1ページ編集 */
.page-title {
    font-size: medium;
    margin-bottom: 10px;
    font-weight: normal;
}

.item {
    display: flex;
    gap: 70px;
    margin-bottom: 90px;
    width: 60%;
}

.item-img img {
    width: 300px;
}

.item-text {
    width: 280px;
    height: 250px;
}

.item-text p {
    margin-bottom: 25px;
    font-size: x-small;
}

.item-text table {
    font-size: x-small;
}

#footer a {
    margin-top: 50px;
    font-size: x-small;
}

#footer p {
    margin-top: 50px;
    font-size: x-small;
}

/* Contactページ */
#contact-form {
    max-width: 600px;
}

#contact-form input {
    border: solid rgb(192, 192, 192) 1px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
}

#contact-form ::placeholder {
    color: black;
}

#contact-form .radio {
    width: fit-content;
    height: 13px;
    margin-bottom: solid rgb(192, 192, 192) 1px;
    margin-bottom: 20px;
    padding: 10px;
}

#contact-form .checkbox {
    width: fit-content;
    height: 13px;
    margin-bottom: 20px;
    padding: 10px;
}

#contact-form .textarea {
    border: solid rgb(192, 192, 192) 1px;
    width: 100%;
    height: 170px;
}

#contact-form button {
    width: 100%;
    padding: 10px;
    height: 50px;
    border: solid rgb(192, 192, 192) 1px;
}

/* レスポンシブ対応デザイン */
@media (max-width:600px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        font-size: 0.8rem;
    }

    header {
        width: 100%;
    }

    .item {
        gap: 70px;
        margin-bottom: 90px;
        width: 60%;
        flex-direction: column;
    }

    #footer ul {
        display: inline;
        align-items: center;
    }

    #company .info th,
    #company .info td {
        display: block;
        width: 100%;
    }

    .page-title {
        margin-left: 30px;
    }

    #company .info th {
        border-style: none;

    }

    #company .info {
        margin-left: 30px;
    }

    .map iframe {
        width: 300px;
        margin-left: 30px;
        justify-content: center;
    }

    .menu {
        margin-left: 40px;
    }

    .cover {
    /* opacity: 80%; */
    /* height: 700px; */
    position: fixed;
    display: flex;
    z-index: 100;
    top: 0;
    right: -80px;
    translate: 100vw;
}
.cover.active {
    translate: 50vw;
}
}