@charset "UTF-8";

@font-face {
    font-family: "MaruMonica";
    src: url("../font/x12y16pxMaruMonica.ttf") format("truetype");
    
    font-display: swap;
}

#backGif {
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    margin-top: 50px;
}

.container img {
    /* position: fixed; */
    width: 80vw;
}

#indSide {
    background-color: cadetblue;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

#indSide p {
    width: 100%;
    margin: 0 20px 0 -50px;
    font-size: 1.5vw;
    font-family: MaruMonica;
    color: #fff;
    text-shadow: 0 0 10px#fff;
    white-space: pre;
}

#indSide img {
    width: 10vw;
    margin-top: -2vh;
    margin-bottom: -4vh;
}

.movetrigger {
    display: none;
}

.container {
    position: relative;
    display: inline-block;
    /* line-height: 0; */
}

.container img {
    width: 100%;
    height: auto;
    display: block;
}

.container a {
    color: white;
    /* 背景画像で見やすい色に */
    width: 100%;
    font-size: 3vw;
    font-weight: bolder;
    font-family: MaruMonica;
    position: absolute;
}

#Knote {
    -webkit-text-stroke: 0.1vw bisque;
    paint-order: stroke;
    top: 50%;
    left: 2%;
    position: absolute;
    max-width: 8vw;
}

#mountain {
    -webkit-text-stroke: 0.1vw bisque;
    paint-order: stroke;
    top: 40%;
    left: 75%;
    position: absolute;
    white-space: pre;
    max-width: 11vw;
}

#portfolio {
    -webkit-text-stroke: 0.1vw bisque;
    paint-order: stroke;
    top: 87%;
    left: 40%;
    position: absolute;
    max-width: 11vw;
}

.container button {
    display: none;
}

.is-glowing {
    animation: glow-motion 3s infinite alternate ease-in-out;
}

@keyframes glow-motion {
    0% {
        text-shadow: 0 0 10px #fff, 0 0 20px #ffd700, 0 0 30px;
        transform: scale(1) translate(1px, 1px);
        filter: blur(0px);
    }

    33% {
        text-shadow: 0 0 15px #fff, 0 0 25px #ffd700, 0 0 40px;
        transform: scale(1.02) translate(1px, -1px);
        filter: blur(0.5px);
    }

    66% {
        text-shadow: 0 0 12px #fff, 0 0 35px #a38b00, 0 0 50px;
        transform: scale(0.98) translate(-1px, 1px);
        filter: blur(1.2px);
    }

    100% {
        text-shadow: 0 0 20px #fff, 0 0 30px #ffd700, 0 0 60px;
        transform: scale(1.01) translate(0, 0);
        filter: blur(0.8px);
    }
}

/* グリッド表示 */
/* ハンバーガー */
.btn-trigger {
    width: 40px;
    height: 20px;
    position: fixed;
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 15px;
    z-index: 40;
    top: 0;
    right: 0;
}

.btn-trigger.active {
    z-index: 42;
}

.random-box {
    position: fixed;
    margin-right: 15px;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: black;
    transition: width 0.5s linear;
}

.btn-trigger span:first-of-type {
    top: 0;
    transition: 1s;
}

.btn-trigger span:nth-last-of-type(2) {
    top: 50%;
    transition: 1s;
}

.btn-trigger span:last-of-type {
    top: 100%;
    transition: 1s;
}

.btn-trigger.active span {
    background-color: #ffffff;
}

.btn-trigger.active span:first-of-type {
    transform: translateY(10px) rotate(45deg)
}

.btn-trigger.active span:nth-last-of-type(2) {
    opacity: 0;
    translate: 30px;
}

.btn-trigger.active span:last-of-type {
    transform: translateY(-10px) rotate(-45deg)
}

/* 一覧表示 */
.menu {
    background-color: black;
    opacity: 80%;
    height: 70%;
    display: flex;
    translate: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 39;
    height: 100vh;
    transition: 1.2s;
    width: 25%;
    right: 0;
    top: 0;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 70px;

}

.links li a {
    height: 100vh;
    z-index: 200;
    color: #ffffff;
    text-decoration: none;
    font-weight: bolder;
    font-family: MaruMonica;
    font-size: 45px;

}


li {
    list-style: none;
    margin-bottom: 50px;
    text-align: left;
    margin-left: 50px;
}

.menu.active {
    translate: 5vw;
    z-index: 41;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
    z-index: 40;
}

#header {
    display: flex;
    justify-content: space-between;
    text-align: right;
    background-color: #ffffff;
    height: 50px;
    top: 0;
    position: fixed;
    z-index: 10;
}

a {
    text-decoration: none;
}

.site-title {
    text-align: left;
    margin: 13px 0;
}

.site-title img {
    width: 220px;
    padding-bottom: 10px;
    padding-left: 45px;
}

.contact {
    padding-left: 45px;
}


#top {
    margin-top: 40px;
}

.product-list img {
    width: 100%;
}

#footer .SNS {
    display: flex;
    list-style: none;
    /* justify-content: center; */
}

#footer .SNS p {
    margin-left: 20px;
}

/* グリッドここまで */
.product-list li {
    list-style: none;
    text-decoration: none;
}

/* wrapper で表示サイズの調整 */
.wrapper {
    width: 100%;
    font-family: MaruMonica;
}

.content {
    padding-top: 80px;
}

/* ここまで */
.product-list a {
    color: black;
}

/* productsへのリンク */
.link-text {
    display: block;
    text-align: center;
    margin-top: 40px;
    color: black;
    font-size: small;
}


/* companyページ */
/* table */
#company .info {
    border-collapse: collapse;
    margin-bottom: 30px;

    /* width: 600px; */
    .info {
        width: 600px;
    }
}

#company .info td {
    /* text-align: left; */
    vertical-align: middle;

}

#company .info th {
    padding-right: 100px;
    font-weight: normal;

}

#company .info td,
#company .info th {
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: solid rgb(192, 192, 192) 1px;
    text-align: left;
}

/* 最終行の線を消す */
#company .info tr:last-child th,
#company .info tr:last-child td {
    border-style: none;
    vertical-align: top;
}

/* map */
.map {
    filter: grayscale();
}

.map iframe {
    height: 300px;
}

/* item1ページ編集 */
.page-title {
    font-size: medium;
    margin-bottom: 10px;
    font-weight: normal;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 0px;
    padding-top: 3px;
    overflow: hidden;
}

.items p {
    text-align: center;
}

.item {
    width: 80%;
    aspect-ratio: 1 / 1;
    object-fit: cover;

}

.subject h2 {
    border-bottom: solid 3px gray;
    width: 100px;
}

.items img {
    border-radius: 11%;
    border: solid 5px antiquewhite;
}

.items img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

/* tips表示 */
#modalGrid {
    width: 500px;
    height: 300px;
    background-color: antiquewhite;
    border-radius: 10px;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    grid-template-columns: 2fr 1.5fr 0.3fr;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease;
    z-index: 11;
}

#modalGrid img {
    width: 70%;
    margin: auto;
    aspect-ratio: 1/1.2;
    object-fit: cover;
    border-radius: 5%;
}

#modalTitle {
    grid-column: 1 / -1;
    padding: 15px 0 0 60px;
}

#modalGrid p {
    height: 80%;
    width: 80%;
    margin: auto;
    font-family: MaruMonica;
}

.modal #modalClose {
    height: 30px;
    width: 30px;
    z-index: 200;
    margin-top: -35px;
}

#modalGrid.active {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
}

.closeBtn {
    background-color: black;
    height: 1px;
    width: 27px;
    z-index: 201;
    position: absolute;
}

#modalClose span:first-of-type {
    transform: translateY(10px) rotate(45deg)
}

#modalClose span:last-of-type {
    transform: translateY(10px) rotate(-45deg)
}

.mountp {
    display: flex;
}

.subject {
    width: 70%;
    margin: 20px;
    padding-right: 20px;
}

.scgauge {
    background-color: aquamarine;
    width: 28.4%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
}

#footer a {
    margin-top: 50px;
    font-size: x-small;
}

#footer p {
    margin-top: 50px;
    font-size: x-small;
}

/* Contactページ */
#contact-form {
    max-width: 600px;
}

#contact-form input {
    border: solid rgb(192, 192, 192) 1px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
}

#contact-form ::placeholder {
    color: black;
}

#contact-form .radio {
    width: fit-content;
    height: 13px;
    margin-bottom: solid rgb(192, 192, 192) 1px;
    margin-bottom: 20px;
    padding: 10px;
}

#contact-form .checkbox {
    width: fit-content;
    height: 13px;
    margin-bottom: 20px;
    padding: 10px;
}

#contact-form .textarea {
    border: solid rgb(192, 192, 192) 1px;
    width: 100%;
    height: 170px;
}

#contact-form button {
    width: 100%;
    padding: 10px;
    height: 50px;
    border: solid rgb(192, 192, 192) 1px;
}

/* レスポンシブ対応デザイン */
@media (max-width:600px) {
    @keyframes glow-motion {
        0% {
            text-shadow: 0 0 5px #fff, 0 0 215px #ffd700, 0 0 25px;
            transform: scale(1) translate(1px, 1px);
            filter: blur(0px);
        }

        33% {
            text-shadow: 0 0 10px #fff, 0 0 20px #ffd700, 0 0 35px;
            transform: scale(1.02) translate(1px, -1px);
            filter: blur(0.5px);
        }

        66% {
            text-shadow: 0 0 7px #fff, 0 0 30px #a38b00, 0 0 45px;
            transform: scale(0.98) translate(-1px, 1px);
            filter: blur(1.2px);
        }

        100% {
            text-shadow: 0 0 15px #fff, 0 0 25px #ffd700, 0 0 25px;
            transform: scale(1.01) translate(0, 0);
            filter: blur(0.8px);
        }
    }

    header {
        width: 100%;
    }


    #footer ul {
        display: inline;
        align-items: center;
    }

    #backGif {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        /* gap: 20px; */
        height: 100%;
    }

    .container {
        width: 600px;
        height: 630px;
        position: relative;
        overflow: hidden;
    }

    .container a {
        animation: glow-motion 3s infinite alternate ease-in-out;
        width: 10px;
    }

    #Knote,
    #mountain,
    #portfolio {
        /* top: 45%; */
        left: 37%;
        font-size: 6vh;
        visibility: hidden;
        opacity: 0;
    }

    #Knote {
        top: 45%;
    }

    #mountain {
        top: 50%
    }

    #portfolio {
        left: 30%;
        top: 85%
    }

    .movetrigger {
        position: absolute;
        color: #ffffff;
        font-family: MaruMonica;
        font-size: 3vh;
        width: 100%;
        height: 94%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .movetrigger #up,
    .movetrigger #right,
    .movetrigger #left,
    .movetrigger #down {
        position: absolute;
        margin: 0;
        position: fixed;
    }

    .container img {
        position: relative;
        /* 初期位置：中央 */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease;
        min-width: 400%;
        min-height: 100%;
        /* visibility: hidden; */
    }
    #up {

        top: 10%;
        left: 46%;
        transform: translateY(-50%);
        display: none;
        width: 30px;
        height: 30px;
        border: 7px solid;
        border-color: #dddddd #dddddd transparent transparent;
        transform: rotate(-45deg);

    }

    #down {
        bottom: 5%;
        left: 46%;
        transform: translateX(-50%);
        width: 30px;
        height: 30px;
        border-color: transparent transparent  ;
        border: 7px solid;
        border-color: transparent transparent #dddddd #dddddd;
        transform: rotate(-45deg);
    }

    #left {
        top: 50%;
        left: 2%;
        width: 30px;
        height: 30px;
        border: 7px solid;
        border-color: transparent transparent #dddddd #dddddd;
        transform: rotate(45deg);
        
    }

    #right {
        top: 50%;
        right: 2%;
        width: 30px;
        height: 30px;
        border: 7px solid;
        border-color: #dddddd #dddddd transparent transparent;
        transform: rotate(45deg);
    }

    /* 移動後のクラスを用意 */
    .container #Knote.left,
    .container #mountain.right,
    .container #portfolio.down {
        visibility: visible;
        opacity: 1;
        transition: all 2s ease;
        z-index: 50;
    }

    .container img.right {
        translate: -37% 0;
    }

    .container img.left {
        translate: 37% -10%;
    }

    .container img.up {
        translate: 0 40%;
    }

    .container img.down {
        translate: -50% -75%;
        transform: scale(1.3);
    }

    .container img {
        transition: all 2s ease;
    }

    .container #Knote.left {}

    .container #mountain.right {
        top: 45%;
        left: 30%;
    }

    #indSide {
        display: none;
    }
    
    #company .info th,
    #company .info td {
        display: block;
        width: 100%;
    }
    
    .page-title {
        margin-left: 30px;
    }
    
    #company .info th {
        border-style: none;
    
    }
    
    #company .info {
        margin-left: 30px;
    }
    
    .map iframe {
        width: 300px;
        margin-left: 30px;
        justify-content: center;
    }
    
    .items {
        grid-template-columns: repeat(2, 1fr);
        font-size: 0.8rem;
        gap: 0px;
    }
    
    .subject {
    
        margin: auto;
    }
    
    .item {
        width: 80%;
        margin: 0 auto 30px;
        flex-direction: column;
    }
    
    .items p {
        text-align: center;
    }
    
    .menu {
        background-color: black;
        /* opacity: 80%; */
        height: 700px;
        display: flex;
        translate: 100vw;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 39;
        height: 100vh;
        transition: 1.2s;
        width: 25%;
        right: 0;
        top: 0;
        flex-direction: column;
        align-items: left;
        padding-top: 70px;
    }
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 50;
        opacity: 0;
        visibility: hidden;
        transition: opacity 1.5s ease;
    }
}

