@charset "UTF-8";
/* グリッド表示 */
#header{
    display: flex;
    justify-content: space-between;
    text-align: right;
}

a{
        text-decoration: none;
}
.site-title{
    text-align: left;
    margin:13px 0;
    
}
.site-title img{
    width: 150px;
}
.product-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:35px ;
    align-content: center;
    font-size: small;
    
}
.product-list img{
    width: 100%;
}
#footer .menu{
    display: flex;
    list-style: none;
}
#footer  .menu p{
    margin-left: 20px;
}
/* グリッドここまで */
.product-list li{
    list-style: none;
    text-decoration: none;
}
/* wrapper で表示サイズの調整 */
.wrapper{
    width: 100%;
    max-width: 1360px;
    margin:0 auto;
    padding: 0 40px;
}

/* ここまで */
.product-list a{
    color: black;
}
/* productsへのリンク */
.link-text {
    display: block;
    text-align: center;
    margin-top: 40px;
    color: black;
    font-size: small;
}

/* レスポンシブ対応デザイン */
@media (max-width:600px){
    .product-list{
        grid-template-columns: repeat(2,1fr);
        font-size:0.8rem;
    }
    .item{
    gap: 70px;
    margin-bottom: 90px;
    width: 60%;
    flex-direction: column;
    }
    #footer ul{
        display: inline;
        justify-content: center;
        align-items: center;
    }
}

/* companyページ */
.info{
    display: flex;
}
.info tr{
    text-align: left;
}

/* item1ページ編集 */
.page-title{
    font-size: small;
    margin-bottom: 10px;
}
.item{
    display: flex;
    gap: 70px;
    margin-bottom: 90px;
    width: 60%;
}

.item-img img{
    width: 300px;
}
.item-text{
    width: 280px;
    height: 250px;
}
.item-text p{
    margin-bottom: 25px;
    font-size: x-small;
}
.item-text table{
    font-size: x-small;
}
#footer a{
    margin-top: 50px;
    font-size: x-small;
}
#footer p{
    margin-top: 50px;
    font-size: x-small;
}
